################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebDev/.vs
/WebDev/bin/Debug/net8.0
/WebDev/obj
